.sidebar {
    float: left;
    height: auto;
    width: 300px;
    background-color: #f1f1f1;

    ul {
        list-style-type: none;
        padding: 0;
        width: 200px;
        text-align: center;
        background-color: #f1f1f1;
    }
    li {
        a{
            display: block;
            color: #000;
            padding: 10px 16px;
            width: 250px;
            text-decoration: none;
        }
    }
    li {
        a:hover{
            background-color: #555;
            color: white;
        }
    }
    padding: {
        top: 10px;
        bottom: 300px;
    };
}